TITLE OF OUR PROJECT --> Million Songs Dataset

TEAM MEMBERS -->
    1. Manoj Kashyap Matukumalli (KW46417)
    2. Manogna Teja Pidikiti (SA62294)

ABSTRACT -->

We used Million songs dataset from the Internet which is a collection of multiple datasets of different types of songs and their album features including various music terminologies like beats, bars, etc. We were successful in obtaining individual datasets from the main collection which included converting of HDF5 format to pandas format. We were also able to show various relations between the songs and able to segregate number of song features into individual groups.

INSIGHT INTO THE DATASETS USED-->

The original Million Songs dataset available on the Internet is of very large size (~280GB). So, we decided to take 1% of the dataset(~1.8GB) and work on that for our project. After looking into the files obtained by downloading the dataset, we got to know those were of HDF5 format files. The architecture of these files is as follows:

<h5> H5 File -> Keys <br><br> Each Key is a Dictionary of Key, Value Pairs</h5>

Again, each key in a file is an individual dataset and the corresponding values of that key are the columns of that dataset. When we extracted all the HDF5 files, we got to know the following information on tha datasets:

<h5> H5 File -> Analysis, MetaData, Music Brainz <br><br> Analysis contains key value pairs of analysis of songs such as bars_count, bars_confidence, etc.,</h5>
<h5> MetaData contains key value pairs of Artist Terms and Artist frequency, similar artist</h5>
<h5>Music Brainz contains key value pairs of artist tags, artist tag counts and song details</h5>

In [1]:
import numpy as np
import h5py
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
def draw_graph(y_axis, x_axis=None, x_label=None, y_label=None, name=None):
    if not x_axis:
        x_axis = range(len(y_axis))
    plt.fill_between(x_axis, y_axis, color="skyblue", alpha=0.4)
    
    if y_label:
        plt.ylabel(y_label)
    if x_label:
        plt.xlabel(x_label)
    if name:
        plt.title(name)
    
    plt.show()

    
def file_info(f):
    print('')
    for i in f.keys():
        print('\n\n\n')
        print(i)
        for j in f[i].keys():
            try: 
                print(j ,end='')
                if "segments_pitches" != j and j != "segments_timbre" and j != 'songs' and f[i][j]:
                    draw_graph(list(f[i][j]), y_label=j)
                elif j == 'songs':
                    print(list(f[i][j]))
            except:
                continue
        print()

<h4> Each Row has 12 columns</h4>
<h4> Song has unimportant values and required values in the order, Location, Singer/Band, Album Name, Song Name</h4>

In [3]:
df_sections_confidence = None
df_sections_start = None
df_segments_confidence = None
df_segments_loudness_max = None
df_segments_loudness_max_time = None
df_segments_loudness_start = None


def segments_and_sections():
    global df_sections_confidence
    global df_sections_start
    global df_segments_confidence
    global df_segments_loudness_max
    global df_segments_loudness_max_time
    global df_segments_loudness_start

    
    sections_confidence = []
    sections_start = []
    segments_confidence = []
    segments_loudness_max = []
    segments_loudness_max_time = []
    segments_loudness_start = []
    count = 0
    
    import os
    for root, subFolders, files in os.walk('./MillionSongSubset/data/'):
        for file in files:
            f = h5py.File(os.path.join(root, file), 'r')
            sections_confidence.append(pd.DataFrame.from_dict({'sections_confidence': list(f['analysis']['sections_confidence'])}).T)
            sections_start.append(pd.DataFrame.from_dict({'sections_start': list(f['analysis']['sections_start'])}).T)
            segments_confidence.append(pd.DataFrame.from_dict({'segments_confidence': list(f['analysis']['segments_confidence'])}).T)
            segments_loudness_max.append(pd.DataFrame.from_dict({'segments_loudness_max': list(f['analysis']['segments_loudness_max'])}).T)
            segments_loudness_max_time.append(pd.DataFrame.from_dict({'segments_loudness_max_time': list(f['analysis']['segments_loudness_max_time'])}).T)
            segments_loudness_start.append(pd.DataFrame.from_dict({'segments_loudness_start': list(f['analysis']['segments_loudness_start'])}).T)
            
            print('\b\rCurrent File Name:', file, 'Percentage:', count*100/1000, end='')
            count += 1
            
            if count == 1000:
                break
        if count == 1000:
            break
            
    print('\rData Reading is Complete                                     ')
    print("\nConcatination In Progress", end='')
    df_sections_confidence = pd.concat(sections_confidence)
    print("\rConcatination In Progress - 17% complete", end='')
    
    df_sections_start = pd.concat(sections_start)
    print("\rConcatination In Progress - 34% complete", end='')
    
    df_segments_confidence = pd.concat(segments_confidence)
    print("\rConcatination In Progress - 51% complete", end='')
    
    df_segments_loudness_max = pd.concat(segments_loudness_max)
    print("\rConcatination In Progress - 68% complete", end='')
    
    df_segments_loudness_max_time = pd.concat(segments_loudness_max_time)
    print("\rConcatination In Progress - 85% complete", end='')
    
    df_segments_loudness_start = pd.concat(segments_loudness_start)
    print("\rConcatination Complete                             ")

In [4]:
df_bars_confidence = None
df_bars_start = None
df_beats_confidence = None
df_beats_start = None

def beats_and_bars():
    global df_beats_start
    global df_beats_confidence
    global df_bars_start
    global df_bars_confidence
    
    bars_confidence = []
    bars_start = []
    beats_confidence = []
    beats_start = []
    count = 0
    
    import os
    for root, subFolders, files in os.walk('./MillionSongSubset/data/'):
        for file in files:
            f = h5py.File(os.path.join(root, file), 'r')
            bars_confidence.append(pd.DataFrame.from_dict({'bars_confidence': list(f['analysis']['bars_confidence'])}).T)
            bars_start.append(pd.DataFrame.from_dict({'bars_start': list(f['analysis']['bars_start'])}).T)
            beats_confidence.append(pd.DataFrame.from_dict({'beats_confidence': list(f['analysis']['beats_confidence'])}).T)
            beats_start.append(pd.DataFrame.from_dict({'beats_start': list(f['analysis']['beats_start'])}).T)
            
            print('\b\rCurrent File Name:', file, 'Percentage:', count*100/1000, end='')
            count += 1
            
            if count == 1000:
                break
        if count == 1000:
            break
            
    print('\rData Reading is Complete                                     ')
    print("\nConcatination In Progress", end='')
    df_bars_confidence = pd.concat(bars_confidence)
    print("\rConcatination In Progress - 25% complete", end='')
    
    df_bars_start = pd.concat(bars_start)
    print("\rConcatination In Progress - 50% complete", end='')
    
    df_beats_confidence = pd.concat(beats_confidence)
    print("\rConcatination In Progress - 75% complete", end='')
    
    df_beats_start = pd.concat(beats_start)
    print("\rConcatination Complete                             ")

In [5]:
beats_and_bars()

Data Reading is Complete                                     HPE128F429FE9C.h5 Percentage: 99.

Concatination Complete

In [6]:
df_beats_confidence.fillna(0, inplace=True)
df_beats_confidence.head()

,0,1,2,3,4,5,6,7,8,9,...,2410,2411,2412,2413,2414,2415,2416,2417,2418,2419
beats_confidence,0.834,0.851,0.650,0.635,0.532,0.753,0.622,0.657,0.704,0.745,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
beats_confidence,1.000,0.945,0.714,0.973,0.818,0.974,0.878,0.665,0.572,0.874,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
beats_confidence,0.980,0.399,0.185,0.270,0.422,0.000,0.445,0.644,0.527,0.518,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
beats_confidence,0.809,0.616,0.789,0.660,0.439,0.758,0.604,0.718,0.658,0.720,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
beats_confidence,0.883,0.738,0.484,0.609,0.625,0.719,0.484,0.591,0.641,0.715,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [7]:
df_beats_start.fillna(0, inplace=True)
df_beats_start.head()

,0,1,2,3,4,5,6,7,8,9,...,2410,2411,2412,2413,2414,2415,2416,2417,2418,2419
beats_start,0.58521,1.19196,1.78893,2.37813,2.94247,3.50622,4.05077,4.56902,5.14371,5.76504,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
beats_start,0.20627,0.71054,1.21836,1.71841,2.21729,2.71502,3.21305,3.71136,4.21196,4.70861,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
beats_start,0.73152,1.39732,2.04852,2.68691,3.31500,3.93754,4.56162,5.19545,5.81368,6.43640,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
beats_start,0.81002,1.30621,1.80617,2.29960,2.80049,3.29887,3.79724,4.29771,4.79694,5.30252,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
beats_start,0.13576,0.59914,1.06368,1.52591,1.99045,2.45153,2.91491,3.37714,3.84053,4.30276,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [8]:
df_bars_confidence.fillna(0, inplace=True)
df_bars_confidence.head()

,0,1,2,3,4,5,6,7,8,9,...,903,904,905,906,907,908,909,910,911,912
bars_confidence,0.643,0.746,0.722,0.095,0.091,0.362,0.465,0.204,0.129,0.618,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
bars_confidence,0.007,0.259,0.172,0.404,0.011,0.016,0.035,0.019,0.022,0.007,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
bars_confidence,0.980,0.399,0.185,0.270,0.422,0.000,0.445,0.644,0.527,0.518,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
bars_confidence,0.017,0.050,0.014,0.008,0.114,0.019,0.083,0.061,0.058,0.006,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
bars_confidence,0.175,0.409,0.639,0.067,0.016,0.066,0.002,0.398,0.083,0.040,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [9]:
df_bars_start.fillna(0, inplace=True)
df_bars_start.head()

,0,1,2,3,4,5,6,7,8,9,...,903,904,905,906,907,908,909,910,911,912
bars_start,0.58521,2.94247,5.14371,7.74554,10.36149,12.98399,15.59835,18.21002,20.81724,23.41491,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
bars_start,0.71054,2.71502,4.70861,6.69288,8.66941,10.63723,12.59938,14.56769,16.55089,18.53608,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
bars_start,0.73152,1.39732,2.04852,2.68691,3.31500,3.93754,4.56162,5.19545,5.81368,6.43640,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
bars_start,1.30621,3.29887,5.30252,7.32327,9.33775,11.34637,13.34890,15.36927,17.37818,19.38657,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
bars_start,1.06368,2.91491,4.76729,6.61852,8.46978,10.31954,12.16840,14.01618,15.86854,17.72016,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [10]:
segments_and_sections()

Data Reading is Complete

Concatination Complete

In [11]:
df_sections_confidence.fillna(0, inplace=True)
df_sections_confidence.head()

,0,1,2,3,4,5,6,7,8,9,...,24,25,26,27,28,29,30,31,32,33
sections_confidence,1.0,1.000,0.218,0.133,0.384,0.326,0.373,0.129,0.588,0.620,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
sections_confidence,1.0,0.451,0.270,0.397,0.225,0.426,0.459,0.197,1.000,0.000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
sections_confidence,1.0,0.121,0.214,0.198,0.660,0.468,0.591,0.363,0.000,0.000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
sections_confidence,1.0,0.086,0.153,0.146,0.088,0.217,0.372,0.120,0.353,0.049,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
sections_confidence,1.0,0.768,0.611,0.388,0.520,0.420,0.499,0.314,1.000,0.000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [12]:
df_sections_start.fillna(0, inplace=True)
df_sections_start.head()

,0,1,2,3,4,5,6,7,8,9,...,24,25,26,27,28,29,30,31,32,33
sections_start,0.0,7.74554,36.44331,43.61667,75.17954,90.18270,135.77195,164.23964,189.03133,198.20273,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
sections_start,0.0,8.17770,19.52952,38.84063,50.22563,70.44611,87.35373,103.25887,140.00968,0.00000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
sections_start,0.0,37.88678,49.43939,68.63657,98.89331,113.23546,131.78364,169.35795,0.00000,0.00000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
sections_start,0.0,20.38681,27.94943,55.12454,67.71832,98.89772,125.58011,152.71904,167.30522,188.42158,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
sections_start,0.0,8.00636,23.26694,67.22425,74.15257,143.54666,161.13410,174.08937,200.45554,0.00000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [13]:
df_segments_confidence.fillna(0, inplace=True)
df_segments_confidence.head()

,0,1,2,3,4,5,6,7,8,9,...,4325,4326,4327,4328,4329,4330,4331,4332,4333,4334
segments_confidence,0.0,1.0,0.483,0.137,0.420,1.000,0.257,1.000,0.592,0.596,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
segments_confidence,0.0,1.0,0.930,0.643,0.761,0.210,1.000,0.716,0.637,1.000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
segments_confidence,0.0,1.0,0.106,0.048,0.282,0.690,0.308,0.420,0.375,0.568,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
segments_confidence,1.0,1.0,0.919,0.591,0.841,0.174,0.753,0.573,0.688,0.808,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
segments_confidence,0.0,1.0,0.359,1.000,0.963,0.544,1.000,0.758,0.639,0.564,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [14]:
df_segments_loudness_max.fillna(0, inplace=True)
df_segments_loudness_max.head()

,0,1,2,3,4,5,6,7,8,9,...,4325,4326,4327,4328,4329,4330,4331,4332,4333,4334
segments_loudness_max,-60.000,-31.646,-34.565,-38.407,-34.696,-20.511,-18.919,-21.477,-25.900,-23.011,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
segments_loudness_max,-60.000,-14.269,-10.165,-18.098,-19.136,-18.957,-10.574,-17.450,-18.350,-15.193,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
segments_loudness_max,-59.895,-11.914,-10.344,-9.678,-9.220,-8.390,-8.145,-8.693,-9.735,-9.088,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
segments_loudness_max,-18.682,-9.550,-9.709,-8.633,-7.434,-11.726,-10.759,-8.565,-8.084,-9.826,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
segments_loudness_max,-59.813,-7.713,-16.130,-2.512,-8.088,-8.733,-2.918,-10.122,-8.144,-14.805,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [15]:
df_segments_loudness_max_time.fillna(0, inplace=True)
df_segments_loudness_max_time.head()

,0,1,2,3,4,5,6,7,8,9,...,4325,4326,4327,4328,4329,4330,4331,4332,4333,4334
segments_loudness_max_time,0.00000,0.10929,0.11044,0.08440,0.05898,0.07381,0.04654,0.08719,0.06602,0.03343,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
segments_loudness_max_time,0.00000,0.05811,0.03982,0.04186,0.03568,0.03362,0.03869,0.04477,0.02246,0.08047,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
segments_loudness_max_time,0.27572,0.15890,0.05150,0.07410,0.09185,0.04472,0.03026,0.04144,0.03772,0.04329,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
segments_loudness_max_time,0.34385,0.07741,0.04658,0.07981,0.04477,0.06919,0.06017,0.04286,0.05451,0.04513,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
segments_loudness_max_time,0.06094,0.06433,0.02255,0.02018,0.02463,0.01604,0.01417,0.02622,0.01867,0.03058,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [16]:
df_segments_loudness_start.fillna(0, inplace=True)
df_segments_loudness_start.index = range(len(df_segments_loudness_start))
df_segments_loudness_start.head()

,0,1,2,3,4,5,6,7,8,9,...,4325,4326,4327,4328,4329,4330,4331,4332,4333,4334
0,-60.0,-60.000,-40.840,-40.401,-38.456,-39.684,-25.842,-43.843,-35.420,-30.220,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,-60.0,-60.000,-23.521,-25.160,-27.133,-24.260,-27.817,-24.725,-26.589,-32.016,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,-60.0,-59.900,-12.744,-12.003,-12.991,-15.917,-15.075,-12.634,-14.514,-15.700,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,-60.0,-27.665,-21.241,-15.222,-18.915,-15.099,-19.007,-15.005,-16.550,-19.216,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,-60.0,-59.828,-19.551,-32.609,-21.899,-20.108,-28.386,-19.932,-19.559,-20.372,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

##### The data is very huge to visualize, thus we have clustered the data.

In [19]:
from sklear.cluster import KMeans
import numpy as np
kmeans = KMeans(n_clusters = 3).fit(df_segments_loudness_start)

for i in kmeans.cluster_centers_:
    print(i)

   0     1       2       3       4       5       6       7       8     9     \
2 -60.0 -59.9 -12.744 -12.003 -12.991 -15.917 -15.075 -12.634 -14.514 -15.7

   ...   4325  4326  4327  4328  4329  4330  4331  4332  4333  4334
2  ...    0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0

[1 rows x 4335 columns]
   0       1       2       3      4       5       6       7       8     \
8 -60.0 -57.277 -56.676 -55.359 -53.96 -54.532 -51.317 -53.643 -50.984

     9     ...   4325  4326  4327  4328  4329  4330  4331  4332  4333  4334
8 -52.099  ...    0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0

[1 rows x 4335 columns]
    0       1       2       3      4       5       6       7       8     \
10 -60.0 -59.052 -38.033 -35.542 -33.17 -30.886 -29.642 -29.531 -29.157

      9     ...   4325  4326  4327  4328  4329  4330  4331  4332  4333  4334
10 -28.985  ...    0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0

[1 rows x 4335 columns]

##### What we did about the dataset
The clustering indicated that the songs from the year 1980's had higher loudness_start time than those of 1990's and 2000's. About 2% of outliers were also detected when each row of the "df_segments_loudness_start" was preditcted with kmeans model (This was visualized on a different machine but was not able to show here due to time constraint). Running the prediction of the model on the dataset took about 2 hours to process.

###### We learned that songs of lower max_loudness has similar sections_confidence and inverse beats_confidence

###### Not much negative results were found about this data and in the future, prediction of year and song lyrics accurately by combining a dataset would be the task.